/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* Variables */
:root {
    --green: #0A574E;
    --dark-teal: #14B8A6;
    --light-teal: #1AFFE4;
    --gray: #E6E6E6;
    --dark: #292929;
  }

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Inter", sans-serif;
    color: var(--dark);
    background: url(../images/hello-agent-bg.png) no-repeat bottom right;
    background-size: 36%;
}


/* Resuable Classes */

.bg-gray {
    background-color: var(--gray);
}

.bg-primary {
    background-color: var(--green);
}

.border-primary {
    border-color: var(--green);
}

.text-primary {
    color: var(--green);
}

.bg-secondary {
    background-color: var(--dark-teal);
}

.border-secondary {
    border-color: var(--dark-teal);
}

.text-secondary {
    color: var(--dark-teal);
}

.bg-tertiary {
    background-color: var(--light-teal);
}

.border-tertiary {
    border-color: var(--light-teal);
}

.text-tertiary {
    color: var(--light-teal);
}

.text-dark {
    color: var(--dark);
}

.rounded-s-none {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.rounded-e-none {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.profile-card:hover h2 {
    color: #fff;
}

.colls:hover p {
    color: #fff;
} 


.sidebar--collapsed .sidebar__menu-text {
    padding: 0;
}

.sidebar--collapsed .theme-toggle__item:not(.theme-toggle__active) {
    display: none;
}

.theme-toggle__active img {
    filter: brightness(0) invert(1);
}


/* Media Queries */
@media (min-width: 1200px) {
    body {
        background-attachment: fixed;
    }
}

@media (min-width: 1900px) {
    #sidebar {
        width: 20rem;
    }
    #sidebar.w-16 {
        width: 4rem;
    }
}